<div class="container">
	<h1>About the Contest Program and the IAFE</h1>
	
	<div style="width:219px;" class="right"><img src="/images/template/trophy.jpg" alt="Sweepstakes Trophy" width="219" height="281" style="max-width:219px; max-height:281px; width:100%; height:100%;"/><p class="italic">Pictured: the sweepstakes trophy--it could be yours!</p></div>
	
	<p>The International Association of Fairs and Expositions annually awards excellence in fair programming through four educational contests. The Annual IAFE Awards contests are divided into various areas of fair programming including: <span class="special">Agriculture, Competitive Exhibits, Communications, and Sponsorship.</span> These educational contests allow fair members to submit award winning ideas and programs into categories within each contest. Examples include: advertising posters, radio/TV spots, agriculture education programs, competitive exhibit display methods, and photos.</p>
	
    <p>These awards allow our fair members to not only compete for top honors in the respective division, contest, and categories but also give fair representatives the opportunity to network. Having the ability to learn from one another in the fair industry is priceless. In addition, top placing fairs will be provided a press release template, giving them the opportunity to explain the competition and their recognition to their own community. <span class="special">These awards display the level of professionalism we strive to uphold in the industry.</span></p>
    
    <p>The winning entries from each respective contest are displayed and announced at the Annual IAFE Convention and Trade Show in Las Vegas, Nevada. In addition, <span class="special">most winning entries are loaded onto a flash drive, and distributed to each fair in attendance at convention</span>—compliments of North Carolina State Fair. </p>
    
    <p>So do you have a sophisticated commemorative poster? Do you have a radio spot that seems to carry a tune in a bucket? Does your fair have a unique or creative method to display entries such as fudge, tomatoes or quilts? Is your agricultural programming for youth exhibitors top notch? Then what are you waiting for? Create an account and get started today!</p>

	<img src="/images/template/iafethenetwork.png" alt="IAFE The Network" class="left" width="398" height="106" style="max-width:398px; max-height:106px; width:100%; height:100%;"/>
	
	<p><span class="special">The International Association of Fairs and Expositions (IAFE)</span> is a voluntary, not-for-profit corporation, serving state, provincial, regional, and county agricultural fairs, shows, exhibitions, and expositions. Its associate members include state and provincial associations of fairs, non-agricultural expositions and festivals, associations, corporations, and individuals engaged in providing products and services to its members, all of whom are interested in the improvement of fairs and allied fields. More information about the IAFE and membership can be found at <a href="https://www.fairsandexpos.com" target="_blank">www.fairsandexpos.com</a>.</p>
</div>
