<div class="container">
	<h1>How to Submit Contest Entries</h1>
	<div class="row">
		<div class='col-md-4'>
			<h3>1. Sign In or Create a New User Account</h3>
			<p>Click either "sign in" or "create an account" at the top of the page. If you are creating a new account, you must fill out some brief profile information. The e-mail address you provide is also the username to log into this site. <span class="bold italic">Your login information for this site is not connected to your www.fairsandexpos.com login.</span></p>
		</div>
		<div class='col-md-4'>
			<h3>2. Link Your Organization to Your User Account</h3>
			<p>If this is your first year submitting entries to this site, you must link your user account to at least one fair. If you do not see your organization in the listing provided, the page will provide an option for you to create a new organization in our database. <span class="bold italic">It is possible to link your user account to more than one organization.</span></p>
		</div>
		<div class='col-md-4'>
			<h3>3. Update Your Most Recent Fair Dates and Attendance</h3>
			<p>Each year you must first update your fair dates and total attendance before you can create a new contest submission. This ensures that your fair is categorized in the proper division, which is based on fair attendance.</p>
		</div>
	</div>
	<div class="row">
		<div class='col-md-4'>
			<h3>4. Create a New Submission</h3>
			<p>The easiest step! Click the "My Submissions" link at the top, where you can view past submissions and create new ones. The site will prevent you from creating a new submission if you have not yet inputted new dates and attendance for the year, or if you have already submitted an entry to that category (UNLESS it is a category that accepts multiple submissions by the same fair).</p>
		</div>
		<div class='col-md-4'>
			<h3>5. Assign Documents to the Submission</h3>
			<p>Next, you will be redirected to upload a document to the submission you just created, which could be a PDF essay (the most common), a photo, a video, or a web link. Once saved, you may return to the "My Submissions" page to add another document to the same entry. <span class="bold italic">Caution: filesize limits exist.</span></p>
		</div>
		<div class='col-md-4'>
			<h3>6. Mail (if Applicable) and Monitor Your Submissions</h3>
			<p>Certain categories also require that you mail a physical entry to the IAFE office. Please read the rules carefully and ensure that the IAFE office will receive your entry before the deadline. You can use the "My Submissions" page to view which categories you entered and to monitor the status of your submission!</p>
		</div>
	</div>
</div>
