<div class="container"><h1>Contest Rules</h1>
	
<% @awards.each do |award| %>
  <% if award.id.odd? %>
    <div class="row">
  <% end %>
  <div class="col-md-6">
    <blockquote>
      <h2><%= award.name %></h2>
      <%= image_tag(award.sponsor_logo, alt: award.sponsor, class: 'left') %>
      <p><%= sanitize(award.description) %></p>
      <p class="center"><%= link_to "View Categories and Rules &raquo;".html_safe, award, class: "btn btn-default", role: "button" %></p>
    </blockquote>
  </div>
  <% if award.id.even? %>
    </div>
  <% end %>
<% end %>
</div>
