<%= form_tag(new_submission_path, method: 'get') do %>
  
  <div class="field">
  	<p>Select the category you wish to enter:</p>
    <%= collection_select(:submission, :category_id, Category.sort_by_category_codes(Category.all), :id, :award_code_category,
      include_blank: "Select the category you wish to enter") %>
  </div>

    <%= submit_tag "Next: Upload Contest Documents" %>
<% end %>