@import "colors";

.jumbotron {
  background-color: $theme-color5;
  
  .logo {
    float: left;
    margin-right: 50px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 350px;
  }
  
  .social {
    padding-right: 10px;
  }
  
  .icons {
    width: 150px;
  }
}
