@import "colors";

.jumbotron {
  background-color: $theme-color5;
  
  .logo {
    float: left;
    margin-right: 50px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 204px;
  }
  
  .social {
    padding-right: 10px;
  }
  
  .icons {
    width: 150px;
    margin-right: 50px;
    margin-top: 5px;
  }
    
  .btn-primary {
    margin-top: 5px;
  }
}
