@import "colors";

$h1-font: 'Lobster', cursive;
$h2-font: 'Arial', bold;

h1 {
  color: $theme-color3;
  font-family: $h1-font;
  font-size: 52px;
}


h2 {
  color: $theme-color1;
  font-family: $h2-font;
  font-size: 32px;
}

h3 {
  color: $theme-color1;
  font-family: $h2-font;
  font-size: 28px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
    
  h2 {
    font-size: 24px;  
  }
  
  h3 {
    font-size: 20px;
  }
  
  .jumbotron p {
    font-size: 16px;
  }
}

ul li {
  a:link, a:hover, a:active, a:visited {
  color: $theme-color2;
  }
}

p {
  
  a:link, a:hover, a:active, a:visited {
  color: $theme-color2;
  text-decoration: underline;
  font-weight: bold;
  }
  
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.special {
  font-weight: bold;
  color: $theme-color1;
}

.important {
  font-weight: bold;
  color: #FF0000;
}

.required {
  font-weight: bold;
  color: #FF0000;
  font-size: 18px;
}

#notice {
  font-weight: bold;
  color: $theme-color3;
}

.large {
  font-size: 24px;
}

.submissionheading {
  background-color: $theme-color5;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius:20px;
  margin-top: 30px;
  border: none;
  
  h2, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


.completed {
  background-color: #C5E3BF;
  padding: 5px;
}

.rejected {
  background-color: #FF7F7F;
  padding: 5px;
}

.pending {
  background-color: #FFFF7F;
  padding: 5px;
}
